/* Общие стили */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 35px 35px;
    background: url("./databace/main_background.webp");
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для заголовков */

h1,
h2,
h3 {
    color: #0e0e0e;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Стили для навигационного меню */

header {
    background-color: #f4f4f4;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

/* Стили для героя */

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

/* Стили для популярных товаров */

.featured-products {
    margin-top: 40px;
}

.product {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p.price {
    font-weight: bold;
    margin-bottom: 5px;
}

.product .btn {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

/* Стили для подвала */

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
}

/* Медиа-запросы */

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .product {
        width: 100%;
        margin-right: 0;
    }
}